.btn {
  font-size: 16px;
  line-height: 40px;
  color: #fff;
  text-transform: uppercase;
  min-width: 165px;
  background-color: @deco;
  border-radius: 20px;
  border: 2px solid @deco;
  box-sizing: border-box;
  
  &:hover {
    background-color: transparent;
    color: @deco;
  }
}