.footer-contacts {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: @dark;
  color: @grey;
}

.footer-contacts__wrap {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-contacts__about,
.footer-contacts__info,
.footer-contacts__subscription {
  width: 25%;
}

.footer-contacts__title {
  font-weight: 600;
  color: @deco;
  text-transform: uppercase;
}

.footer-contacts__address {
  font-style: normal;
  width: 70%;
  margin-bottom: 20px;
}

.footer-contacts__info a {
  color: @grey;
  display: block;
}

.footer-contacts__form {
  input,
  button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    outline: none;
    border: none;
    box-sizing: border-box;
    min-height: 36px;
  }
  
  input {
    background-color: transparent;
    color: @deco;
    border: 1px solid @grey;
    padding-right: 10px;
    padding-left: 10px;
    
    &:focus {
      border-color: @deco;
    }
    &::placeholder {
      color: @grey;
    }
  }
  
  button {
    background-color: @deco;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    
    &:hover {
      background-color: transparent;
      border: 1px solid @deco;
      color: @deco;
    }
  }
}