.header-main {
  width: 100%;
  background-color: @normal;
  color: #fff;
}

.header-main__wrap {
  max-width: 1355px;
  min-height: 100px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}