.how {
  width: 100%;
  background-color: @light-grey;
  padding: 100px 0;
}

.how__wrap {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.how__block {
  padding-right: 115px;
  padding-left: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}