.promo {
  width: 100%;
  background-image: 
    linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(../img/header-narrow.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.promo__wrap {
  max-width: 1390px;
  height: 383px;
  padding: 0 17px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
}

.promo__h1 {
  color: #fff;
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.promo__text {
  width: 65%;
  color: #fff;
}
//-----------------------
@media @mobile {
  .promo__h1 {
    font-size: 30px;
  }
  
  .promo__text {
    width: 100%;
  }
}