.review {
  width: 100%;
  background-color: @light-grey;
  padding: 100px 0;
}

.review__wrap {
  max-width: 1120px;
  margin: 0 auto;
}

.review__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  box-sizing: border-box;
}

.review__img {
  border-radius: 50%;
}

.review__text {
  max-width: 890px;
  text-align: center;
}

.review__name {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: @deco;
}