.socials {
  font-size: 16px;
  font-weight: 700;
  
  &--band {
    background-color: @light-grey;
    width: 100%;
    padding: 80px 0;
  }
}

.socials__btn {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  color: @grey;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  border: 1px solid @grey;
  border-radius: 50%;
  
  &:hover {
    color: #fff;
    background-color: @deco;
    border-color: @deco;
  }

  &--tw {
    background: url(../img/icon-tw-grey.png) no-repeat center;
  }
  
  &--tw:hover {
    background: @deco url(../img/icon-tw-white.png) no-repeat center;
  }
  
  &--dr {
    background: url(../img/icon-dr-grey.png) no-repeat center;
  }
  
  &--dr:hover {
    background: @deco url(../img/icon-dr-white.png) no-repeat center;
  }
    
  &--big {
    width: 63px;
    height: 63px;
    line-height: 63px;
    font-size: 30px;
    background-size: 20px 20px;
    
    &:hover {
      background-size: 20px 20px;
    }
  }
}

.socials__text {
  font-size: 14px;
  line-height: 22px;
  color: @grey;
  margin-left: 14px;
    
  span {
    display: block;
    font-size: 18px;
  }
}

.socials__wrap {
  width: 1123px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.socials__block {
  display: flex;
  align-items: center;
  width: 20%;
  
  &:hover {
    .socials__text {
      color: @deco;
    }
  }
}

//------------------------------
@media @tablet {
  .socials__wrap {
    width: 738px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .socials__block {
    width: 40%;
    margin-bottom: 20px;
  }
  
  .socials--band {
    padding: 50px 0 30px 0;
  }
}
//-----------------------------
@media @mobile {
  .socials__wrap {
    width: 280px;
    flex-direction: column;
  }
  
  .socials__block {
    width: 100%;
  }
}