.we {
  width: 100%;
  background-color: @light-grey;
  padding: 115px 0;
}

.we__wrap {
  max-width: 1355px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 50px 15px #ccc;
  display: flex;
  
  img {
    width: 660px;
    height: 485px;
  }
}

.we__block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 70px;
  padding-right: 115px;
  padding-top: 100px;
}

.we__text {
  margin-top: 0;
  margin-bottom: 70px;
}